<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>腾飞论坛</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/static/layui-v2.6.8/layui/css/layui.css}" media="all">
</head>
<body>

<!--nav-->
<div th:fragment="Nav">
    <ul class="layui-nav">
        <li class="layui-nav-item">腾飞论坛</li>
        <li class="layui-nav-item"><a href="/index">首页</a></li>
        <li class="layui-nav-item layui-this">
            <a href="javascript:;">宝库</a>
            <dl class="layui-nav-child">
                <dd><a th:href="@{/static/game/fk.html}">切方块</a></dd>
                <dd><a th:href="@{/static/game/Mario/index.html}">马里奥</a></dd>
                <dd><a href="adminIndex">管理员</a></dd>
                <dd><a href="/post/save">发帖</a></dd>
                <dd><a th:href="@{post/findPostNoQuery}">查看无条件分类查询</a></dd>
                <dd><a th:href="@{post/findPostQuery}">查看有条件分类查询</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">论坛</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">更多</a>
            <dl class="layui-nav-child">
                <dd><a href="">BUG反馈</a></dd>
                <dd><a href="">意见和建议</a></dd>
                <dd class="layui-this"><a href="">加入我们！</a></dd>
                <dd><a href="">合作</a></dd>
                <!--           <span  style="color: red" th:if="${loginUser!=null}" th:text="${loginUser.username}"></span>-->
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/index">留言板</a></li>

        <ul class="layui-nav layui-layout-right" th:if="${session.loginUser==null}">
            <li class="layui-nav-item" style="float: right" >
                <a href="/login">登录</a>
            </li>
            <li class="layui-nav-item"  style="float: right" >
                <a href="/register">注册</a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right" th:if="${session.loginUser!=null}">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img  th:src="${session.loginUser.headshot}" class="layui-nav-img">
                    <span th:text="${session.loginUser.username}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="#"  th:href="@{/user/edit(id=${session.loginUser.id})}">基本资料</a></dd>
                    <dd><a href="#" th:href="@{/user/postList(id=${session.loginUser.id})}">我的帖子</a></dd>
                    <dd><a href="">我的收藏</a></dd>
                    <dd><a href="">我的关注</a></dd>
                    <dd><a href="#" th:href="@{/user/sendcodeUpdatePassWord(id=${session.loginUser.id})}">修改密码</a></dd>
                    <dd><a href="#" th:href="@{/myHome(id=${session.loginUser.id})}">个人中心</a> </dd>
                    <dd><a href="">我的投稿</a></dd>
                    <dd><a href="#" th:if="user.svip==3" th:href="/adminIndex">管理员入口</a></dd>
                </dl>
            <li class="layui-nav-item"><a href="/logout">注销</a></li>
        </ul>

    </ul>
</div>


<!--底部-->
<div class="layui-main" id="foot" th:fragment="foot" style="float: left;border-color: #00F7DE;width: 100%;height: 100%;margin: 0px auto;text-align: center;position: relative;top: 124px;">
    <p>© 2022 <a href="/" style="margin-left: 5px;margin-right: 5px">tengfei.pro</a>Test</p>
    <p>
        <a href="https://beian.aliyun.com/" target="_blank" style="margin-left: 5px;margin-right: 5px"> 阿里云 </a>
        <a href="https://www.acfun.cn/" target="_blank" style="margin-left: 5px;margin-right: 5px"> AcFun</a>
        <a href="javascript:;" site-event="contactInfo" id="lx" style="margin-left: 5px;margin-right: 5px"> 联系我 </a>
        <a href="https://github.com/" target="_blank" rel="nofollow" style="margin-left: 5px;margin-right: 5px"> GitHub </a>
        <a href="https://gitee.com/" target="_blank" rel="nofollow" style="margin-left: 5px;margin-right: 5px"> 码云 </a>
        <a href="https://www.layui.com/" target="_blank" style="margin-left: 5px;margin-right: 5px">Layui</a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" style="margin-left: 5px;margin-right: 5px"> 桂ICP备19004387号-1 </a>
    </p>
    <p class="site-union" style="margin: 0px;padding-top: 20px;padding-bottom: 10px">
        <a href="https://www.tengfei.pro/" target="_blank" rel="nofollow" upyun=""><img src="../static/images/gzslogo2.png" alt="aliyun" style="width: 270px"></a>
    </p>
</div>
<!--script-->
<footer th:fragment="commonScript">
    <script th:src="@{/static/js/jquery.js}"></script>
    <script th:src="@{/static/layui-v2.5.3/layui/layui.all.js}"></script>
    <script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</footer>
</body>
</html>